html {
    margin: 0;
    height: 100vh;
    width: 100vw;
}
    body {
    font-family: Roboto;
    background: #FF5F6D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        /* display: flex; */
    justify-content: center;
    }
    
    
    #container {
    height: 520px;
    width: 360px;
    padding: 20px;
    margin: 0px auto;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    }
    
    #title {
        padding: 40px;
        text-align: center;
        background: none;
        font-size: 40px;
    }
    
    h1 {
    background: hsl(341, 82%, 7%);
    color: white;
    margin: 0;
    padding: 10px 100px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    }
    
    p {
    padding-left: 20px;
    margin-bottom: 5px;

    }
    button {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 16px auto;
    background: #1d1517;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 17px;
    color: white;
    }

    h5 {
        font-weight: bold;
    }
    
    button:hover {
    background: #4c2827;
    border-bottom-color: #111;
    }
    
    button:active {
    position: relative;
    top: 1px;
    }
    
    #total {
    font-size: 30px;
    margin-top: 5px;
    text-align: center;
    }
    
    #totalTip:before {
    content: "Tip amount";
    font-size: 20px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
    }
    
    #totalTip sup {
    font-size: 20px;
    top: -18px;
    }
    
    #totalTip small {
    font-size: 20px;
    font-weight: bold;
    display: block;
    }